<div class="modal-header">
	<span class="close" ng-click="cancel()">&times;</span>
	<h3>Video?</h3>
</div>
<div class="modal-body">
	<p><div youtube="VcI8izSslic"></div></p>
	<p>This video embed is generated inside a div with a custom youtube directive.  The attribute is added to the
		div element and specifies a youtube ID string used to generate the embed code.</p>
</div>
<div class="modal-footer">
	<button id="btn-timeoutdash" ng-click="ok()" class="btn btn-primary pull-right">Okay</button>
</div>
