<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <!-- Hey.  Why don't we trigger that modal setup in master.js if they press this button? -->
  <p><button class="btn btn-lg btn-success" ng-click="splendid()">Splendid Modal!</button></p>
</div>

<div class="row marketing">
  <h4>Filter Examples</h4>
  <p>
    Here's an example of how AngularJS filters work.  I've created a date object.  If I present it in its raw format, we get <strong>{{now}}</strong>.  If I apply a filter, we get <strong>{{now | date : "MM/dd/yyyy"}}</strong>.  Similarly, with currency, I might have a value like <strong>{{price}}</strong>.  If I wanted to properly format it, I could apply the currency filter and get <strong>{{price | currency : "$"}}</strong> instead.
  </p>
  <p>You can also define your own custom filters.  An example I've prepared is reverse.js.  Let's say I have the message <strong>{{message}}</strong>.  When I apply the reverse filter, it becomes <strong>{{message | reverse}}</strong>.</p>
  <h4>Directive Example</h4>
  <p>
    Try out a directive in this <a href="javascript:void(0);" ng-click="videoWindow()">modal window</a>.
  </p>
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
